.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar .btn {
    margin-right: 10px;
}

.nav .nav-item {
    position: relative;
}

.nav .dropdown-menu {
    min-width: 200px;
}


.icon {

    font-size: 1rem;
    color: #5e6469;

}

.dropdown-font {
    font-size: 0.9rem;
    color: #6c757d;
    z-index: auto;

}

.user-details {
    font-size: 0.8rem;
    color: #6c757d;
}


.input-group {
    width: 20rem;

    height: 2.5rem;
    margin-bottom: 5px;
}

.input-group input {
    height: 2.5rem;
}

.formControl {
    background-color: #eae7ea;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        justify-content: flex-end;
    }

    .input-group {
        display: none;
    }
}