.sidebar {
    background-color: #49266a;
    color: #ffffff !important;
    height: 100vh;
    width: 250px;
    transition: width 0.3s;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;


}

.sidebar-collapsed {
    width: 60px;
    padding-top: 20px;
    transition: width 0.3s ease-in-out;

}

.sidebar-expanded .sidebar-link span {
    display: inline;
}

.sidebar-collapsed .sidebar-link span {
    display: none;
}

.sidebar-nav-item span {
    opacity: 1;
    transition: opacity 0.3s;
}

.sidebar-collapsed .sidebar-nav-item span {
    opacity: 0;
    visibility: hidden;
    transition: opacity 5.3s, visibility 1.3s;
}


.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

}

.sidebar-logo img {

    height: 140px;
    width: 175PX;
    margin-left: 20px;




}


.sidebar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;

}


.sidebar-nav {
    list-style: none;
    padding: 5px;
    margin: 0;

}

.sidebar-nav-item {
    background-color: #49266a;

    color: #ffffff !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;


}

.sidebar-nav-item a {
    color: #ffffff !important;

}


.dropdown-toggle {
    color: white !important;
    display: flex;

}

.dropdown-toggle .dropdown-icon {
    margin-left: auto;
}

.dropdown-menu {
    padding: 0 !important;
    margin-left: 0px !important;

}


.dropdown-item {
    color: white !important;
    background-color: #693499 !important;
    padding: 5px !important;

    margin: 0 !important;

    text-decoration: none !important;

}


.dropdown-item:hover {
    background-color: #7e57c2 !important;
    color: white !important;

}

.sidebar-link {
    display: flex;

    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}


.sidebar-nav-item.active {
    background-color: #6c3483;
    color: white !important;
}

.sidebar-nav-item {
    transition: all 0.3s ease;
}

.sidebar-nav-item.expanded {
    margin-bottom: 20px;

}


.sidebar-expanded .sidebar-nav {
    transition: margin-top 0.3s ease;
}

.sidebar-collapsed .sidebar-nav {
    transition: margin-top 0.3s ease;
}

/* Transition for dropdown */
.sidebar-nav-item .dropdown-menu {
    transition: height 0.3s ease;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 100;

    }

    .sidebar-collapsed {
        width: 60px;
    }

    .sidebar-nav-item {
        text-align: center;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .sidebar-nav-item .nav-item-content {
        justify-content: center;
    }
}