@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900&display=swap');

/* * {
  outline: 1px solid red;
} */

body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.authentication-bg {
  min-height: 100px;
  background-color: #f8f9fa;
  background-size: cover;
  background-repeat: no-repeat;
}

.rounded-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rounded-icon:hover {
  background-color: #dbdbdb;
  color: #727272;
  transform: scale(1.1);
}

/* Employ Dashboard CSS */
.form-box {
  flex: 1;
  background-color: #f0e0f5;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.form-box h3 {
  margin: 0;
  font-size: 18px;
}

.form-box p {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.form-box:hover {
  transform: scale(1.05);
}

.form-box:active {
  transform: scale(1);
}

/* Alert Popup Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(80px);
  }

  to {
    transform: translateY(0);
  }
}

/* Dark Mode */

*[data-bs-theme="dark"] {
  background-color: #121212;
  color: white;
}

body[data-bs-theme="dark"] {
  background-color: #121212;
  color: white;
}

body[data-bs-theme="dark"] .content-wrapper,
body[data-bs-theme="dark"] .page-content,
[data-bs-theme="dark"] .dashboard-layout .main-content,
[data-bs-theme="dark"] .dashboard-layout .main-content .page-content,
[data-bs-theme="dark"] .card-container,
body[data-bs-theme="dark"] .Payroll-container,
body[data-bs-theme="dark"] .jobtable-container,
body[data-bs-theme="dark"] .form-box,
body[data-bs-theme="dark"] .chart-container,
body[data-bs-theme="dark"] .dashboard-chart-container,
[data-bs-theme="dark"] .row.gy-2>.col>.card-container,
body[data-bs-theme="dark"] .performance-chart,
body[data-bs-theme="dark"] .attendence-chart-wrapper {
  background-color: #2a2a2a;
  border: 1px solid #444444;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}

[data-bs-theme="dark"] .row.gy-2>.col>.card-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

[data-bs-theme="dark"] .navbar,
body[data-bs-theme="dark"] .input-group input {
  background-color: #697077;
  color: #f8f9fa;
  border: 1px solid #495057;
}

body[data-bs-theme="dark"] .icon,
body[data-bs-theme="dark"] .dropdown-font,
body[data-bs-theme="dark"] .user-details,
[data-bs-theme="dark"] .dashboard-card p,
[data-bs-theme="dark"] .card-description,
[data-bs-theme="dark"] .job-description,
body[data-bs-theme="dark"] .form-box p,
[data-bs-theme="dark"] .doughnut-overlay p {
  color: #fefefe;
}

[data-bs-theme="dark"] .dashboard-card h3,
[data-bs-theme="dark"] .card-title,
body[data-bs-theme="dark"] .chart-title,
body[data-bs-theme="dark"] legend.labels.colors,
[data-bs-theme="dark"] .doughnut-overlay {
  color: #e0e0e0;
}

[data-bs-theme="dark"] .card-value,
[data-bs-theme="dark"] .doughnut-overlay h3 {
  color: #8e44ad;
}

body[data-bs-theme="dark"] .employee-selector select {
  background-color: #555;
  color: #fff;
  border: 1px solid #444;
}

body[data-bs-theme="dark"] .employee-selector select:focus {
  border-color: #777;
}

body[data-bs-theme="dark"] .icon:hover {
  background-color: #3a3a3a;
}