@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}

.authentication-bg {
  min-height: 100px;
  background-color: #f8f9fa;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Alert Popup Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(80px);
  }

  to {
    transform: translateY(0);
  }
}

/* Dashboard Chart Containers */
.chart-container {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0e0f5;

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 10px
}

.chart-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}


/* Dark Mode Styles */
body.dark-mode {
  background-color: #051224;
  color: #e2e1e1;
}

body.dark-mode .content-wrapper {
  background-color: #051224;
}

body.dark-mode .dashboard-layout .main-content .page-content {
  background-color: #051224;
}

body.dark-mode .navbar {
  background-color: #051224;
}

body.dark-mode .input-group-text {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode .form-control {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode .dropdown-toggle {
  /* background-color: #333; */
  color: #f0f0f0;
}

body.dark-mode .card {
  background-color: #333;
  color: #f0f0f0;
}

/* Icon Styles */
.icon {
  font-size: 1.2rem;
  color: #6c757d;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px;
  border-radius: 50%;
}

.icon:hover {
  background-color: #f1f1f1;
  border-radius: 50%;
  color: #495057;
}

body.dark-mode .icon {
  color: #b0b0b0;

}

body.dark-mode .icon:hover {
  background-color: #333;
  color: #fff;

}